.TopNav
{
    position: relative;
    left: 0;
    right: 0;
    padding-left: 1em;
    padding-right: 1em;
    background-color: hsla(0, 0%, 100%, 0.1);
}

.TopNav a
{
    background-color: hsla(0, 0%, 100%, 0.6);

    color: hsla(0, 0%, 0%, 0.8);
}