.red
{
    filter: hue-rotate(0);
}

.red.brighter
{
    filter: hue-rotate(0) brightness(200%);
}

.orange
{
    filter: hue-rotate(30deg);
}

.orange.brighter
{
    filter: hue-rotate(30deg) brightness(200%);
}

.yellow
{
    filter: hue-rotate(60deg);
}

.yellow.brighter
{
    filter: hue-rotate(60deg) brightness(200%);
}

.green
{
    filter: hue-rotate(120deg);
}

.green.brighter
{
    filter: hue-rotate(120deg) brightness(200%);
}

.blue
{
    filter: hue-rotate(240deg);
}

.blue.brighter
{
    filter: hue-rotate(240deg) brightness(200%);
}

.purple
{
    filter: hue-rotate(300deg);
}

.purple.brighter
{
    filter: hue-rotate(300deg) brightness(200%);
}

.semi
{
    filter: grayscale(1) opacity(60%);
}