*[class^='Figure']
{
    display: table;
    margin: 1em;
}

*[class^='Figure'] figcaption
{
    display: table-caption;
    caption-side: bottom;
}

*[class^='Figure'].vertical a
{
    display: table-row;
}

*[class^='Figure'] aside
{
    padding: 0.5em;

    overflow: hidden;
}

*[class^='Figure'].noAside aside
{
    display: none;
}