@import './css/global/Button.css';
@import './css/global/color.css';
@import './css/global/Figure.css';
@import './css/global/Logo.css';
@import './css/global/Nav.css';
@import './css/global/Tag.css';
@import './css/structure/Footage.css';
@import './css/structure/TopButtons.css';
@import './css/structure/TopNav.css';

*
{
  font-family: "DejaVu Serif", sans-serif;
  color: hsla(0, 0%, 90%, 1);
}

html
{
  background-color: hsla(0, 0%, 20%, 1);
}

li
{
  list-style-type: none;
}

a
{
  margin: 0 0.5em;
  padding: 0.5em;
  background-color: hsla(0, 0%, 100%, 0.1);

  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

a:hover
{
  background-color: hsla(0, 0%, 100%, 0.2);

  color: hsla(0, 0%, 100%, 1);
}